/* Dock.css */
.dock {
  transition: opacity 1s ease-in-out;
}

.dock.inactive {
  opacity: 0;
}

.dock:hover {
  opacity: 1 !important; /* Force opacity to 1 on hover */
}

#toolbar {
    background-color: #444a4e;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.32);
    height: 60px;
  }
  
  #toolbar button {
    color: white;
    background-color: #3d464d;
    border: none;
  }
  
  #toolbar button:hover {
    background-color: #b3b3b3;
  }
  
  #toolbar span {
    color: white;
  }